{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>关于</title>
    <link rel="stylesheet" href="{% static '/css/basetype.css' %}">
</head>
<body>
<header>
    <h3>关于</h3>
    <hr>
</header>
<span class="text2">
    合肥工业创客实验室隶属于计算机与信息学院，她位于合肥工业大学翡翠湖校区科教大楼A座5楼。<br><br>
    我们长期欢迎对前后端感兴趣的本科、研究生同学们参与实验室网站的开发，共同建设实验室。<br><br>
    实验室倡导轻松、愉快、进步、个性发展的环境氛围，研究方向瞄准国际前沿，结合实验室成员自身喜好，
    充分调动师生的研究兴趣和工作热情，发挥团队的创新和协作能力，在传帮带的良好氛围里取得了丰硕的研究成果，
    是一个非常年轻有活力的团队。<br><br>
</span>
</body>
</html>