{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>大数据</title>
    <link rel="stylesheet" href="{% static '/css/basetype.css' %}">
</head>
<body>
    <header>
        <h3>大数据</h3>
        <hr>
    </header>
    <span class="text2">
        大数据(big data,mega data)或称巨量资料，
        指的是需要新处理模式才能具有更强的决策力、洞察力和流程优化能力的海量、高增长率和多样化的信息资产。<br><br>
        在维克托·迈尔-舍恩伯格及肯尼斯·库克耶编写的《大数据时代》中大数据指不用随机分析法(抽样调查)这样的捷径，
        而采用所有数据进行分析处理。<br><br>
        大数据的5V特点:Volume(大量)、Velocity(高速)、Variety(多样)、Value(价值密度)、Veracity（真实性）。
    </span>
</body>
</html>