{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>创客实验室</title>
    <link rel="stylesheet" href="{% static '/css/basetype.css' %}">
</head>
<body>
    <header>
        <h3>创客实验室</h3>
        <hr>
    </header>
    <span class="text2">
            创客实验室成立于2014年，是由海尔家电联合教育部信息管理中心发起，
            英特尔公司、京东、创客空间、创业者公社、硬创邦等共同参与，
            并由腾讯、百度提供线上技术支持的创客孵化平台。<br><br>
            创客实验室是一个开放、创新、协作、共享的创客孵化平台，也是教育部的创新创业实训实验室 。
            目前海尔创客实验室的足迹已遍布全国28个省，160余所高校，近50万创客发烧友交流互动 。<br><br>
            创客实验室依托海尔生态产业资源及开放的社会创新资源，旨在实现企业需求与高校课题、
            创新教育与创业实践的系统结合，为高校青年创客提供包含创客、企业、创投机构、
            供应链及营销渠道等全生态的资源交互服务，助力新生代创客的创意转化及创业实践。助力高校双创教育改革 。
    </span>
</body>
</html>