{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>师资力量</title>
    <link rel="stylesheet" href="{% static '/css/basetype.css' %}">
</head>
<body>
    <header>
        <h3>师资力量</h3>
        <hr>
    </header>
    <section>
        <img src="{% static '/images/teacher.jpg' %}">
        <article>
            <span class="text1">程文娟&nbsp;&nbsp;·&nbsp;&nbsp;教授</span>
            <br>
            <span class="text1">基本信息</span>
            <span class="text2">
                1970年12月生，安徽怀宁人，教授，硕士生导师，博士。<br>
                1993年起至今，合肥工业大学计算机与信息学院从事教学科研工作；
                近年来主持国家自然科学基金项目1项，
                教育部研究项目1项、安徽省自然科学基金1项、安徽省科技厅年度重点科研项目1项、
                安徽省高等学校自然科学研究重点项目1项，参加国家自然科学基金3项和省部级多项研究工作，
                先后获得安徽省科学技术奖励2项、安徽省科技进步奖1项、合肥市科技进步二等奖1项，
                安徽省教学成果奖一等奖和其它各种教学成果奖5项，主编安徽省“十一五”规划教材1部、
                作为主要成员参加两门国家级精品课程和两门省级精品课程的建设工作，出版专著和教材7部，
                发表论文30余篇。
            </span>
            <span class="text1">研究方向</span>
            <span class="text2">
                计算机应用技术、模式识别、智能计算与传感器技术等<br>
                主持及参加完成多项省部级研究项目，目前主持在研国家自然科学基金项目。<br>
                欢迎各相关专业的学生联系报考硕士研究生。
            </span>
            <span class="text1">获奖情况</span>
            <span class="text2">
                1996年获安徽省科技进步四等奖<br>
                2002年获安徽省科学技术奖三等奖<br>
                2008年获安徽省高等学校省级教学成果一等奖<br>
                2010年获安徽省科学技术奖三等奖一项<br>
                2013年获安徽省高等学校省级教学成果特等奖<br>
                2014年获合肥市科技进步二等奖1项<br>
                获国家发明专利2项，受理发明专利2项
            </span>
            <span class="text1">主要论著</span>
            <span class="text2">
                《计算机应用技术》<br>
                《大学计算机》<br>
                《计算机组装与维护》<br>
                《图像处理Photoshop教程》<br>
                安徽省“十一五”规划教材《嵌入式实时操作系统μC/OSⅡ教程》等
            </span>
            <span class="text1">教学工作</span>
            <span class="text2">
                程序设计基础<br>
                程序语言( C++)<br>
                图像处理软件应用<br>
            </span>
        </article>
    </section>
</body>
</html>