/*标题样式*/
header h3{
    color: #2aabd2;
}
/*主体内容样式*/
/*图片*/
img{
    width: 25%;
    float: left;
    margin-bottom: 5%;
}
/*文本*/
article{
    width: 65%;
    margin-left: 10%;
    float: left;
}
/*文本标题*/
.text1{
    width: 100%;
    background-color: silver;
    color: #3c3c3c;
    display: block;
    font-size: 15px;
}
/*文本内容*/
.text2{
    width: 100%;
    color: #3c3c3c;
    display: block;
    font-size: 13px;
    font-weight: lighter;
}
/*清除浮动*/
.clear{
    clear: both;
}