{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 响应式设计 -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>创客实验室</title>
    <!-- 引入 Bootstrap 所需文件 -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- 引入自己编写的样式文件 -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
</head>

<body>
    <header>
            <img src="{% static 'images/top.png' %}">
    </header>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- 适应手机，手机上的导航栏右边会有个下拉列表 -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- 导航栏 -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="{% url 'lab:shuaxin' %}">首页<span class="sr-only">(current)</span></a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">实验室介绍<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'lab:CKlab' %}" target="content">创客实验室</a></li>
                            <li><a href="{% url 'lab:teacher' %}" target="content">师资力量</a></li>
                            <li><a href="{% url 'lab:student' %}" target="content">实验室成员</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">研究方向<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'lab:BigData' %}" target="content">大数据</a></li>
                            <li><a href="{% url 'lab:AI' %}" target="content">人工智能</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="{% url 'lab:notice' %}" target="content">通知公告</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">大学生创新研究<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'lab:project' %}" target="content">项目课题</a></li>
                            <li><a href="{% url 'lab:competition' %}" target="content">历史竞赛</a></li>
                            <li><a href="{% url 'lab:lecture' %}" target="content">讲座信息</a></li>
                            <li><a href="{% url 'lab:material' %}" target="content">学术资料</a></li>
                            <li><a href="{% url 'lab:essay' %}" target="content">学术成果</a></li>
                            <li><a href="{% url 'lab:fun' %}" target="content">娱乐活动</a></li>
                            <li><a href="#">其它信息</a></li>
                        </ul>
                    </li>
                    <li><a href="{% url 'lab:album' %}" target="content">相册</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'lab:about' %}" target="content">关于</a></li>
                    <li><a href="{% url 'lab:contect' %}" target="content">联系我们</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- 内嵌页面，导航栏链接的内容将在此展示 -->
    <iframe name="content" src="{% url 'lab:content' %}" scrolling="auto"></iframe>
    <!-- 页脚：版权、设计者 -->
    <footer>
        <div>
            <span>友情链接：&nbsp;&nbsp;</span>
            <a href="http://www.hfut.edu.cn/">合肥工业大学</a>&nbsp;&nbsp;
            <a href="http://ci.hfut.edu.cn/main.htm">计算机与信息学院</a>&nbsp;&nbsp;
            <a href="http://my.hfut.edu.cn/">数字化信息门户</a>
        </div>
        <div>
            <span>© 2018 合肥工业大学创客实验室 , All Rights Reserved.</span><br>
            <span>Designed by MaYu</span>
        </div>
    </footer>
</body>
</html>